
  @font-face {
    font-family: 'karrik';
    src: url('Karrik-Regular.ttf') format('opentype');
    font-weight: normal;
  }
 

h1,p,h2{
    font-family: karrik, sans-serif;
}
.ola{
  margin: auto;
  width: 100%;
  text-align: center;
}

.imagem{
margin: auto;
width: 20%;

}
  .primeira {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:center;

  }

  .primeira1{
      width: 30%; flex-direction: row;
      text-align: center;
   
  }
  .primeira1 h1{
    width: 30%; 
    flex-direction: row;
    margin: auto;

 
}

  .primeira2{
      width: 60%;
  }

  .segunda{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 120px;

  }
  .segunda1{
    width: 30%;
    padding: 16px;
  }


  .segunda2{
    width: 50%;


  }

  img{
      width: 100%;
  }

  
  .terceira{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 

  .porque1{
      width: 40%;
      padding: 16px;
  }

.quarta{
  width: 40%;
  padding: 16px;
}
.quarta h2{
  margin-top: 100px;

}

.terceira img{
  margin-top: 50px;
}



footer{
  height: 150px;
  background-color: rgb(8, 255, 8)  ;
  display: flex;
  margin: 0;
}
footer p{
  padding: 16px;
  margin: 0;
  width: 40%;
}